.overlay{
    background-image:ur('./../photos/c.jpeg');
    background-size: cover;
    max-width: 100%;
    height: 70vh;
}
.overlay h2 {
        color: white;
        font-size: 4rem;
        padding: 30px;
}